<div class="content margin_padding">
  <div class="pic_header margin_padding">
    <img src="/images/rtbf.png" alt="head picture"/>
  </div>
  <div class="app_clear">&nbsp;</div>
  <%= render :partial => "/layouts/header.html" %>
  <div>
    <div class="pic_header detail_content float_left margin_padding">
      <table width="100%">
        <col class="col1"/>
        <col class="col2"/>
        <col class="col3"/>
        <col class="col1"/>
        <thead>
          <tr class="head_bg">
            <th>Date</th>
            <th>Job Title</th>
            <th>Location</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
        <% @jobs.each do |job| %>
          <tr>
            <td class="separator_bottom"><%= job.date %></td>
            <td class="separator_bottom"><%= job.job_title %></td>
            <td class="separator_bottom"><%= job.location %></td>
            <td class="separator_bottom"><%= button_to_remote "Apply", :url => apply_job_path(job) %></td>
          </tr>
        </tbody>
      <% end %>
      </table>
    </div>
    <div class="banner float_left  margin_padding">
    </div>
    <div class="clear"></div>
    <div class="pic_header pic_footer margin_padding">
      <img src="/images/rtbf_footer.png" alt="foot picture"/>
    </div>
  </div>
</div>
