<div class="content margin_padding">
  <div class="pic_header margin_padding">
    <img src="/images/rtbf.png" alt="head picture"/>
  </div>
  <div class="app_clear">&nbsp;</div>
  <%= render :partial => "/layouts/header.html" %>
  <div>
    <div class="pic_header detail_content float_left margin_padding">
      <table width="100%">
        <col class="col1"/>
        <col class="col2"/>
        <col class="col3"/>
        <col class="col1"/>
        <thead>
          <tr class="head_bg">
            <th class="col1">Date</th>
            <th>Job Title</th>
            <th>Location</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
        <% @jobs.each do |job| %>
          <tr>
            <td class="separator_bottom col1"><%= job.date %></td>
            <td class="separator_bottom text-left"><%= truncate(job.job_title,100) %></td>
            <td class="separator_bottom text-left"><%= job.location %></td>
            <td class="separator_bottom"><%= button_to_remote "Apply", {:url => apply_job_path(job), :loading => "$('spinner_job_#{job.id}').show();;$('apply_job_#{job.id}').hide();", :success => "$('spinner_job_#{job.id}').hide();$('apply_job_#{job.id}').show()"}, {:id => "apply_job_#{job.id}"} %>
                                         <%= image_tag "spinner.gif", {:id => "spinner_job_#{job.id}", :style => "display:none;"} %></td>
          </tr>
          <tr>
            <td class="separator_bottom">&nbsp;</td>
            <td class="separator_bottom text-left"><%= truncate(job.body,100) %></td>
            <td class="separator_bottom">&nbsp;</td>
            <td class="separator_bottom">&nbsp;</td>
          </tr>
        </tbody>
      <% end %>
      </table>
    </div>
    <div class="banner float_left  margin_padding">
    </div>
    <div class="clear"></div>
    <div class="pic_header pic_footer margin_padding">
      <img src="/images/rtbf_footer.png" alt="foot picture"/>
    </div>
  </div>
</div>
