<% form_tag save_info_path do %>
<p>
  Basic Info : <%= text_area_tag "info[basic_info]", @info["basic_info"] %>
</p>
<p>
  Detailed Info : <%= text_area_tag "info[detailed_info]", @info["detailed_info"] %>
</p>
<p>
  <%= submit_tag "save" %>
</p>
<% end %>
<p>
  Files to Download :
  <% remote_form_for(:file, :url => save_file_path(:format => "js"), :html => { :method => :post, :multipart => true, :target => 'upload_frame' }) do |f| %>
    Select a file on your computer ( 4MB max ) : <br />
    <%= f.file_field :uploaded_data %><br />
    <%= link_to 'Upload', "#my_file", :onclick=>"$(this).up('form').submit(); $('list_files').focus() " %>
    <iframe id='upload_frame' name="upload_frame" style="width:1px;height:1px;border:0px" src="about:blank"></iframe>
  <% end %>

<div class="onecol-simple" id="list_files">
  <% @files.each do |file| %>
    <%= render :partial => "files.html", :locals => { :file => file } %>
  <% end %>
</div>
</p>
<% form_remote_tag :url => jobs_path, :method => :post do %>
<p>
  Date : <%= calendar_date_select :job, :date, :popup => :force, :year_range => 100.years.ago..0.years.from_now, :valid_date_check => "date >= (new Date()).stripTime()" %>
</p>
<p>
  Job Title : <%= text_field :job, :job_title %>
</p>
<p>
  Location : <%= text_field :job, :location %>
</p>
<p>
  Body : <%= text_area :job, :body %>
</p>
<p>
  <%= submit_tag "Add Job" %>
</p>
<div id="job_list">

</div>
<% end %>