<div id="message_list_<%= message["id"] %>" class="margin_padding message_list">
  <script>
    jQuery(document).ready(function() {
      jQuery("span.wallTime").timeago();
    });
  </script>
  <div>
    <div class="main_avatar_container float_left">
      <img src="<%= get_image('candidate_profile_id' => message['candidate_profile_id']) %>" alt="avatar" class="avatar_container_comment"/>
      <img src="/images/badge.png" alt="avatar" class="badge"/>
    </div>
    <div class="float_left message_container comment_container">
      <div class="float_right">
        <span id="favorite_<%= message['id'].to_s %>">
        <%= unless  message["favorites"].collect{|x| x["user_id"].to_s }.include?(session[:fellownation_user_id])
          render :partial => "link_favorite_unfavorite", :locals => { :message_id => message["id"].to_s, :is_favorite => false }
        else
          render :partial => "link_favorite_unfavorite", :locals => { :message_id => message["id"].to_s, :is_favorite => true }
        end %>
      </span> <%= image_tag 'spinner.gif', :style => "display: none", :id => 'spinner_favorite_'+message["id"].to_s %>
      </div>
      <%= message["message"] %> <br />
      <%= timeago(message["created_at"].to_time) %>
      <span id="like_<%= message['id'].to_s %>">
        <%= unless  message["likes"].collect{|x| x["user_id"].to_s }.include?(session[:fellownation_user_id])
          render :partial => "link_like_unlike", :locals => { :message_id => message["id"].to_s, :is_like => false }
        else
          render :partial => "link_like_unlike", :locals => { :message_id => message["id"].to_s, :is_like => true }
        end %>
      </span> <%= image_tag 'spinner.gif', :style => "display: none", :id => 'spinner_like_'+message["id"].to_s %> |

      <%= link_to "Comment", "#", :onclick => "jQuery('#comment_#{message["id"].to_s}').toggle()", :class => "a_href" %>
      <% if message['user_id'].to_s == session[:fellownation_user_id] %>
        | <span id="delete">

          <%= link_to_remote 'Delete', { :url => delete_message_path(message["id"]), :confirm => "Are you sure?", :method => :delete,
            :loading => "$('spinner_delete_#{message["id"]}').show(); $('link_delete_#{message["id"]}').hide()",
            :complete => "$('spinner_delete_#{message["id"]}').hide(); $('link_delete_#{message["id"]}').show()" }, :id => 'link_delete_'+message["id"].to_s, :class => "a_href" %>
          <%= image_tag 'spinner.gif', :style => "display: none", :id => 'spinner_delete_'+message["id"].to_s %>
        </span>
      <% end %>
      <div id="comment_<%= message['id'].to_s %>" style="display: none">
        <% form_remote_tag :url => comment_message_path(message["id"]), :method => :post,
          :loading => "$('spinner_share_#{message["id"]}').show(); $('button_share_#{message["id"]}').hide()",
          :complete => "$('spinner_share_#{message["id"]}').hide(); $('button_share_#{message["id"]}').show()" do %>
          <%= text_area_tag "comment", nil,  :class => "comment_on_comment" %>
          <br/>
          <%= submit_tag "Share", :id => "button_share_#{message["id"]}", :class => "float_right sendBtn" %>
          <%= image_tag 'spinner.gif', :style => "display: none", :id => 'spinner_share_'+message["id"].to_s %>
        <% end %>
        <div class="app_clear"></div>
      </div>

        <div id="first_entry_<%= message["id"] %>">
      <%=  '<div class="firstEntry">&nbsp;</div>' if !message["likes"].blank? || !message["favorites"].blank? || !message["comments"].blank? %>
        </div>
        <div id="list_like_<%= message["id"] %>">
        <%= render :partial => "list_like.html", :locals => { :likes => message["likes"]} %>
      </div>
      <div id="list_favorite_<%= message["id"] %>">
        <%= render :partial => "list_favorite.html", :locals => { :favorites => message["favorites"] } %>
      </div>
      <% unless message["comments"].blank? %>
        <div class="wallContent comment">
          <%= link_to_remote 'View all comments', { :url => show_all_comments_path(message["id"]), :method => :get,
            :loading => "$('spinner_comment_#{message["id"]}').show(); $('link_comment_#{message["id"]}').hide()",
            :complete => "$('spinner_comment_#{message["id"]}').hide(); $('link_comment_#{message["id"]}').show()" }, :id => 'link_comment_'+message["id"].to_s, :class => "a_href" %>
          <%= image_tag 'spinner.gif', :style => "display: none", :id => 'spinner_comment_'+message["id"].to_s %>
        </div>
      <% end %>
      <div id="comment_list_<%= message['id'].to_s %>">
        <%= render :partial => "comment_list", :locals => { :comments => [message["comments"].last] } unless message["comments"].blank? %>
      </div>
<%#= will_paginate @messages, :renderer => PaginationListLinkRenderer, :container => true %>
    </div>
  </div>
  <div class="app_clear"></div>
</div>
